# Core do Framework e Utilidades
Flask==3.1.2
Werkzeug==3.1.5
Jinja2==3.1.6
click==8.3.1
blinker==1.9.0
itsdangerous==2.2.0
MarkupSafe==3.0.3

# Banco de Dados e ORM
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.46
PyMySQL==1.1.2
greenlet==3.3.1

# Autenticação e Administração
Flask-Login==0.6.3
Flask-Admin==1.6.1
WTForms==2.3.3

# Configuração e Ambiente
python-dotenv==1.0.1
typing_extensions==4.15.0
